.calculator {
    background-color: rgb(80, 76, 76);
    margin:50px;
    padding:25px;
    

   }
   .display-box {
       background-color: white;
       height:7vh;
      


    
   }
   .button {
       background-color: greenyellow;
       color:black;
       font-size:20px;
       padding:15px;
       height:50px;
       width:50px,


   }
   .button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
   }